.view_full_button {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  cursor: pointer;
  right: 10px;
  top: 5px;
  z-index: 99;
  background: transparent url(../images/golden-stage/expand.png) no-repeat;
}

.next_page1, .next_page2, .next_page3, .next_page4, .prev_page1, .prev_page2, .prev_page3, .prev_page4 {
  display: block;
  position: absolute;
  width: 35px;
  height: 31px;
  cursor: pointer;
  margin-top: -20px;
  bottom: 35px;
  z-index: 99;
}

.next-mobile-book1, .next-mobile-book2, .next-mobile-book3, .next-mobile-book4, .next-mobile-book5, .next-mobile-book6, .next-mobile-book7, .next-mobile-book8,
.prev-mobile-book1, .prev-mobile-book2, .prev-mobile-book3, .prev-mobile-book4, .prev-mobile-book5, .prev-mobile-book6, .prev-mobile-book7, .prev-mobile-book8 {
  display: block;
  position: absolute;
  width: 35px;
  height: 31px;
  cursor: pointer;
  margin-top: -20px;
  bottom: 25px;
  z-index: 99;
}

.prev_page1, .prev_page2, .prev_page3, .prev_page4 {
  right: 75px;
  background: transparent url(../images/golden-stage/prev.png) no-repeat;
}

.prev-mobile-book1, .prev-mobile-book2, .prev-mobile-book3, .prev-mobile-book4, .prev-mobile-book5, .prev-mobile-book6, .prev-mobile-book7, .prev-mobile-book8 {
  right: 50%;
  margin-right: 10px;
  background: transparent url(../images/golden-stage/prev.png) no-repeat;
}

.next_page1, .next_page2, .next_page3, .next_page4 {
  right: 35px;
  background: transparent url(../images/golden-stage/next.png);
}

.next-mobile-book1, .next-mobile-book2, .next-mobile-book3, .next-mobile-book4, .next-mobile-book5, .next-mobile-book6, .next-mobile-book7, .next-mobile-book8 {
  right: 50%;
  margin-right: -40px;
  background: transparent url(../images/golden-stage/next.png);
}

.header {
  z-index: 1;
}

.milk-product {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;

  &:before {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/note2.png") no-repeat scroll center center / cover;
    content: "";
    display: block;
    height: 72px;
    left: -165px;
    position: absolute;
    top: -150px;
    width: 122px;
  }
  .effect-after-milk {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/sua-2.png") no-repeat scroll 0 0;
    height: 200px;
    left: -160px;
    position: absolute;
    bottom: -120px;
    width: 320px;
    z-index: 98;
    display: block;
    -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s infinite;
  }
  .milk {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/milk-product.png") no-repeat scroll center center / cover;
    bottom: -40px;
    height: 150px;
    left: -75px;
    width: 124px;
    position: absolute;
    z-index: 99;
  }
  .effect-before-milk {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/sua-1.png") no-repeat scroll 0 0;
    height: 200px;
    left: -160px;
    position: absolute;
    bottom: -120px;
    width: 320px;
    z-index: 100;
    display: block;
    -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s infinite;
  }

  @-webkit-keyframes mymove {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    50% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes mymove {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    50% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.modal-lg {
  width: 1024px;
}

.modal-dialog {
  .view_full_button {
    right: 35px;
    top: 25px;
    @media (max-width: 360px) {
      right: 15px;
    }
  }
}

#book-view {
  z-index: 0;
  display: block;
  width: 100%;
  position: relative;
  padding: 65px 0;
  background: url("../images/golden-stage/video.jpg") no-repeat center center/ cover;
  @media (max-width: 480px) {
    padding: 10px 0 65px;
  }
  .note-book {
    position: absolute;
    background: url("../images/golden-stage/note1.png") no-repeat;
    width: 147px;
    height: 91px;
    bottom: 10px;
    right: -110px;
    z-index: 98;
  }
  /* Booklet jQuery Plugin Style*/
  .booklet {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    .b-wrap-left {
      background: #fff url(../images/golden-stage/left_bg.jpg) no-repeat top left;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-bottomleft: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .b-wrap-right {
      background: #efefef url(../images/golden-stage/right_bg.jpg) no-repeat top left;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .b-counter {
      bottom: 10px;
      position: absolute;
      display: block;
      width: 90%;
      height: 20px;
      border-top: 1px solid #ddd;
      color: #222;
      text-align: center;
      font-size: 12px;
      padding: 5px 0 0;
      background: transparent;
      -moz-box-shadow: 0px -1px 1px #fff;
      -webkit-box-shadow: 0px -1px 1px #fff;
      box-shadow: 0px -1px 1px #fff;
      opacity: 0.8;
    }
  }
  .book_wrapper {
    margin: 0 auto;
    padding-top: 15px;
    width: 903px;
    height: 590px;
    display: block;
    position: relative;
    background: transparent url(../images/golden-stage/bg.png) no-repeat center;
    font-family: @import-font;
    font-weight: 300;
    #next_page_button, #prev_page_button {
      display: none;
      position: absolute;
      width: 35px;
      height: 31px;
      cursor: pointer;
      margin-top: -20px;
      bottom: 25px;
      z-index: 99;
    }
    #prev_page_button {
      right: 65px;
      background: transparent url(../images/golden-stage/prev.png) no-repeat;
    }
    #next_page_button {
      right: 25px;
      background: transparent url(../images/golden-stage/next.png);
    }
    .content-page {
      padding: 9px 25px 15px;
    }
    .divide {
      width: 100px;
      height: 2px;
      background-color: #2c8249;
      margin: 15px auto;
    }
    .title-large {
      color: #2c8249;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
    }
    .title-normal {
      line-height: 30px;
      color: #2c8249;
      text-align: center;
      font-size: 20px;
    }
    .page1 {
      padding: 45px 0 30px;
      font-size: 14px;
      .title-large-1 {
        color: hsl(140, 49%, 34%);
        font-size: 26px;
        line-height: 33px;
        text-align: center;
      }
      .title-normal-1 {
        color: hsl(140, 49%, 34%);
        font-size: 20px;
        line-height: 49px;
        text-align: center;
      }
      .divide-1 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 2px auto 15px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 7px 25px 15px;
      }
      img {
        width: 90%;
      }
    }
    .page2 {
      padding: 50px 0 30px;
      font-size: 14px;
      .content-page-1 {
        line-height: 19px;
        padding: 12px 25px 15px;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 4px 25px 15px;
      }
    }
    .page3 {
      padding: 52px 0 30px;
      font-size: 14px;
      position: relative;
      .title-normal-1 {
        color: hsl(140, 49%, 34%);
        font-size: 24px;
        line-height: 37px;
        text-align: center;
      }
      .divide-1 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 0 auto 10px;
      }
      .divide-2 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 2px auto 15px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 15px 25px;
      }

      img {
        bottom: -95%;
        left: 15px;
        margin-bottom: 10px;
        position: absolute;
        width: 90%;
      }
    }
    .page4 {
      font-size: 14px;
      padding: 25px;
      .title-normal-1 {
        color: #2c8249;
        padding: 0 5px;
        font-size: 14px;
        margin-top: 15px;
        text-align: left;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 5px 5px 0;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 2px 5px 5px;
      }
      .content-page-3 {
        line-height: 19px;
        padding: 4px 5px 0;
      }
    }
    .page5 {
      font-size: 14px;
      padding: 30px 20px;
      .title-normal-1 {
        color: hsl(140, 49%, 34%);
        font-size: 20px;
        line-height: 29px;
        margin-top: 3px;
        padding: 0 5px;
        text-align: left;
      }
      .divide-1 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 13px 0 15px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 6px 5px 0;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 1px 5px 5px;
      }
    }
    .page6 {
      font-size: 14px;
      padding: 30px 20px;
      .content-page-1 {
        line-height: 19px;
        padding: 10px 5px 20px;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 2px 5px 17px;
      }
      .content-page-3 {
        line-height: 19px;
        padding: 4px 5px 0;
      }
    }
    .page7 {
      font-size: 14px;
      padding: 20px 30px;
      .title-large-1 {
        color: hsl(140, 49%, 34%);
        font-size: 25px;
        margin-top: 3px;
        padding: 0 5px;
        text-align: left;
        line-height: 38px;
        margin-bottom: 11px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 8px 0;
      }
    }
    .page8 {
      padding: 15px 20px;
    }
  }
  .book_wrapper-mobile {
    display: none;
  }
  @media (max-width: 1185px) {
    .book_wrapper {
      display: none;
    }

    .book_wrapper-mobile {
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      width: 100%;
      height: 100%;
      position: relative;
      .mini-game-dialog-mobile{
        width: 100%;
        background-color: #b83b2e;
        position: relative;
        display: block;
        padding: 15px;
        .border-radius(10px);
        margin-bottom: 20px;
        .border-dot{
          border: 1px dashed whitesmoke;
          padding: 15px;
          margin: 0 5px;
          .border-radius(5px);
          @media (max-width: 480px) {
            padding: 10px;
            margin: 0;
          }
          .center{
            display: block;
            text-align: center;
            width: 100%;
          }
          .title-game{
            display: block;
            margin-top: 5px;
            text-align: center;
            width: 100%;
            img{
              text-align: center;
              margin: 0 auto;
            }
          }
          .description-game{
            display: block;
            margin-bottom: 10px;
            text-align: center;
            width: 100%;
            img{
              text-align: center;
              margin: 0 auto;
            }
          }
          .open-dialog-nimigame{
            border: 0;
            background: none;
          }
        }
      }
      .milk-product {
        display: block;
        bottom: 35px;
        left: 0;
        position: absolute;

        &:before {
          display: none;
        }

        .effect-after-milk {
          background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/sua-2-tablet.png") no-repeat scroll 0 0;
          height: 140px;
          width: 224px;
          left: 0;
          position: absolute;
          bottom: -75px;
          z-index: 98;
          display: block;
          -webkit-animation: mymove-mobile 2s infinite; /* Chrome, Safari, Opera */
          animation: mymove-mobile 2s infinite;
        }
        .milk {
          background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/milk-product-tablet.png") no-repeat scroll center center / cover;
          bottom: -15px;
          height: 100px;
          left: 70px;
          width: 83px;
          position: absolute;
          z-index: 99;
        }
        .effect-before-milk {
          background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/sua-1-tablet.png") no-repeat scroll 0 0;
          height: 140px;
          width: 224px;
          left: 0;
          position: absolute;
          bottom: -75px;
          z-index: 100;
          display: block;
          -webkit-animation: mymove-mobile 2s infinite; /* Chrome, Safari, Opera */
          animation: mymove-mobile 2s infinite;
        }

        @media (max-width: 480px) {
          .effect-after-milk {
            background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/sua-2-mobile.png") no-repeat scroll 0 0;
            height: 78px;
            width: 125px;
            left: 0;
            position: absolute;
            bottom: -75px;
            z-index: 98;
            display: block;
            -webkit-animation: mymove-mobile 1.2s infinite; /* Chrome, Safari, Opera */
            animation: mymove-mobile 1.2s infinite;
          }

          .milk {
            background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/milk-product-mobile.png") no-repeat scroll center center / cover;
            bottom: -40px;
            height: 75px;
            left: 30px;
            width: 62px;
            position: absolute;
            z-index: 99;
          }

          .effect-before-milk {
            background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/sua-1-mobile.png") no-repeat scroll 0 0;
            height: 78px;
            left: 0;
            position: absolute;
            bottom: -75px;
            width: 125px;
            z-index: 100;
            display: block;
            -webkit-animation: mymove-mobile 1.2s infinite; /* Chrome, Safari, Opera */
            animation: mymove-mobile 1.2s infinite;
          }
        }

        @-webkit-keyframes mymove-mobile {
          from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }

          50% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
          }

          to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
        }

        @keyframes mymove-mobile {
          from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }

          50% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
          }

          to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
        }
      }

      .next_page_button, .prev_page_button {
        display: block;
        position: absolute;
        width: 35px;
        height: 31px;
        cursor: pointer;
        bottom: -10px;
        z-index: 99;
        left: 50%;
      }
      .prev_page_button {
        margin-left: -40px;
        background: transparent url(../images/golden-stage/prev.png) no-repeat;
      }
      .next_page_button {
        margin-left: 5px;
        background: transparent url(../images/golden-stage/next.png);
      }
      .title-mobile {
        display: block;
        position: absolute;
        cursor: pointer;
        bottom: -35px;
        z-index: 99;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: @import-font;
        @media (max-width: 480px) {
          bottom: -55px;
        }
      }
      #bookMobile {
        font-family: @import-font;
        font-weight: 300;
        .page-content {
          padding: 0 10px;
          width: 100%;
          height: 100%;
          position: relative;
          display: block;
          img {
            margin: 0 auto;
          }
          span.number-page {
            font-family: @import-font;
            position: absolute;
            left: 50%;
            bottom: 25px;
            margin-left: -13px;
            display: block;
            width: 26px;
            height: 26px;
            border: 2px solid #2c8249;
            .border-radius(50%);
            font-size: 20px;
            text-align: center;
            line-height: 15px;
            vertical-align: middle;
            color: #2c8249;
            @media (max-width: 448px) {
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  height: 100%;
  left: 0;
  max-height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.75s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  transition: all 0.75s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  video {
    left: 0;
    width: 100%;
    max-height: 100%;
    min-height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    -o-object-fit: cover;
    height: 100%;
  }
}

body[page='golden-stage'] {
  .header {
    height: 125px;
    @media (max-width: 768px) {
      height: 85px;
    }
    @media (max-width: 480px) {
      height: 45px;
    }
    .golden-state-block, .gs-slogan-block, .nuti-white-logo {
      display: block;
      height: 125px;
      width: 100%;
      position: relative;
      @media (max-width: 768px) {
        height: 85px;
      }
      @media (max-width: 480px) {
        height: 45px;
      }
    }
    .golden-state-block {
      a{
        display: block;
        .icon-logo-golden-state {
          display: block;
          background: url("../images/golden-stage/logo.png") no-repeat;
          width: 141px;
          height: 125px;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -62px;
          @media (max-width: 768px) {
            background: url("../images/golden-stage/logo-tablet.png") no-repeat;
            width: 95px;
            height: 84px;
            margin-top: -42px;
          }
          @media (max-width: 480px) {
            background: url("../images/golden-stage/logo-mobile.png") no-repeat;
            width: 52px;
            height: 46px;
            margin-top: -23px;
          }
        }
      }

    }
    .gs-slogan-block {
        .gs-slogan {
          display: block;
          background: url("../images/golden-stage/slogan.png") no-repeat;
          width: 433px;
          height: 100px;
          top: 50%;
          left: 50%;
          margin-top: -50px;
          margin-left: -216px;
          position: absolute;
          @media (max-width: 768px) {
            background: url("../images/golden-stage/slogan-tablet.png") no-repeat;
            width: 286px;
            height: 48px;
            margin-top: -24px;
            margin-left: -143px;
          }
          @media (max-width: 480px) {
            background: url("../images/golden-stage/slogan-mobile.png") no-repeat;
            width: 154px;
            height: 26px;
            margin-left: -77px;
            margin-top: -13px;
          }
        }
    }
    .nuti-white-logo {
      a{
        display: block;
        .nuti-white {
          display: block;
          background: url("../images/nutri-white.png") no-repeat;
          height: 52px;
          margin-top: -26px;
          position: absolute;
          right: 0;
          top: 50%;
          width: 225px;
          @media (max-width: 768px) {
            background: url("../images/golden-stage/nuti-white-tablet.png") no-repeat;
            width: 94px;
            height: 25px;
            margin-top: -12px;
          }
          @media (max-width: 480px) {
            background: url("../images/golden-stage/nui-white-mobile.png") no-repeat;
            width: 51px;
            height: 13px;
            margin-top: -6px;
          }
        }
      }
    }
  }
}


  .mini-game-dialog{
    background: url("../images/bg-popup.png") no-repeat center / 100% auto;
    bottom: 20px;
    display: block;
    height: 110px;
    position: absolute;
    right: 190px;
    width: 244px;
    z-index: 10;
    .title-game{
      background: url("../images/text-popup.png") no-repeat center / 100% auto;
      height: 48px;
      left: 50%;
      margin-left: -96px;
      position: absolute;
      top: 15px;
      width: 193px;
    }
    .description-game{
      background: url("../images/text-popup1.png") no-repeat center / 100% auto;
      bottom: 10px;
      height: 22px;
      left: 15px;
      position: absolute;
      width: 114px;
    }
    .open-dialog-nimigame{
      background: url("../images/text-popup2.png") no-repeat center / 100% auto;
      border: 0;
      bottom: 8px;
      height: 28px;
      right: 15px;
      position: absolute;
      width: 98px;
    }
  }


  .inputfile{
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
  }

  .edit-inputfile{
    background-color: hsl(0, 0%, 92%);
    border-color: hsl(0, 0%, 90%);
    .border-radius(4px);
    box-shadow: none;
    font-size: 15px;
    height: 50px;
    padding: 15px 52px 15px 15px;
    width: 100%;
    position: relative;
    span{
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
    .icon-inputfile{
      background: url("../images/input-file.png") no-repeat center /100% auto;
      height: 35px;
      position: absolute;
      right: 7px;
      top: 7px;
      width: 35px;
      &:hover{
        opacity: 0.8;
      }
    }
  }