.view_full_button {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  cursor: pointer;
  right: 10px;
  top: 5px;
  z-index: 99;
  background: transparent url(../images/golden-stage/expand.png) no-repeat;
}

.milk-product {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;

  &:before {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/note2.png") no-repeat scroll center center / cover;
    content: "";
    display: block;
    height: 72px;
    left: -165px;
    position: absolute;
    top: -150px;
    width: 122px;
  }
  .effect-after-milk {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/after.png") no-repeat scroll 0 0;
    height: 0;
    left: -140px;
    position: absolute;
    bottom: -21px;
    width: 280px;
    z-index: 98;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .milk {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/milk-product.png") no-repeat scroll center center / cover;
    bottom: -40px;
    height: 150px;
    left: -75px;
    width: 124px;
    position: absolute;
    z-index: 99;
  }
  .effect-before-milk {
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/before.png") no-repeat scroll 0 0;
    height: 0;
    left: -140px;
    position: absolute;
    bottom: -50px;
    width: 276px;
    z-index: 100;
    display: block;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  &:hover {
    .effect-after-milk {
      height: 94px;
      background-position: top left;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .effect-before-milk {
      height: 94px;
      background-position: top left;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }
  }
}

.modal-lg {
  width: 1024px;
}

.modal-dialog {
  .view_full_button {
    right: 30px;
    top: 20px;
    @media (max-width: 360px) {
      right: 15px;
    }
  }
}

#book-view {
  display: block;
  width: 100%;
  position: relative;
  padding: 65px 0;
  background: url("../images/golden-stage/video.jpg") no-repeat center center/ cover;
  @media (max-width: 360px) {
    padding: 95px 0;
  }
  .note-book {
    position: absolute;
    background: url("../images/golden-stage/note1.png") no-repeat;
    width: 147px;
    height: 91px;
    bottom: 10px;
    right: -110px;
    z-index: 98;
  }
  /* Booklet jQuery Plugin Style*/
  .booklet {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    .b-wrap-left {
      background: #fff url(../images/golden-stage/left_bg.jpg) no-repeat top left;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-bottomleft: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .b-wrap-right {
      background: #efefef url(../images/golden-stage/right_bg.jpg) no-repeat top left;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .b-counter {
      bottom: 10px;
      position: absolute;
      display: block;
      width: 90%;
      height: 20px;
      border-top: 1px solid #ddd;
      color: #222;
      text-align: center;
      font-size: 12px;
      padding: 5px 0 0;
      background: transparent;
      -moz-box-shadow: 0px -1px 1px #fff;
      -webkit-box-shadow: 0px -1px 1px #fff;
      box-shadow: 0px -1px 1px #fff;
      opacity: 0.8;
    }
  }
  .book_wrapper {
    margin: 0 auto;
    padding-top: 15px;
    width: 903px;
    height: 590px;
    display: block;
    position: relative;
    background: transparent url(../images/golden-stage/bg.png) no-repeat center;
    font-family: @import-font;
    font-weight: 300;
    #next_page_button, #prev_page_button {
      display: none;
      position: absolute;
      width: 35px;
      height: 31px;
      cursor: pointer;
      margin-top: -20px;
      bottom: 25px;
      z-index: 99;
    }
    #prev_page_button {
      right: 65px;
      background: transparent url(../images/golden-stage/prev.png) no-repeat;
    }
    #next_page_button {
      right: 25px;
      background: transparent url(../images/golden-stage/next.png);
    }
    .content-page {
      padding: 9px 25px 15px;
    }
    .divide {
      width: 100px;
      height: 2px;
      background-color: #2c8249;
      margin: 15px auto;
    }
    .title-large {
      color: #2c8249;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
    }
    .title-normal {
      line-height: 30px;
      color: #2c8249;
      text-align: center;
      font-size: 20px;
    }
    .page1 {
      padding: 45px 0 30px;
      font-size: 14px;
      .title-large-1 {
        color: hsl(140, 49%, 34%);
        font-size: 26px;
        line-height: 33px;
        text-align: center;
      }
      .title-normal-1 {
        color: hsl(140, 49%, 34%);
        font-size: 20px;
        line-height: 49px;
        text-align: center;
      }
      .divide-1 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 2px auto 15px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 7px 25px 15px;
      }
      img {
        width: 90%;
      }
    }
    .page2 {
      padding: 50px 0 30px;
      font-size: 14px;
      .content-page-1 {
        line-height: 19px;
        padding: 12px 25px 15px;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 4px 25px 15px;
      }
    }
    .page3 {
      padding: 52px 0 30px;
      font-size: 14px;
      position: relative;
      .title-normal-1 {
        color: hsl(140, 49%, 34%);
        font-size: 24px;
        line-height: 37px;
        text-align: center;
      }
      .divide-1 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 0 auto 10px;
      }
      .divide-2 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 2px auto 15px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 15px 25px;
      }

      img {
        bottom: -95%;
        left: 15px;
        margin-bottom: 10px;
        position: absolute;
        width: 90%;
      }
    }
    .page4 {
      font-size: 14px;
      padding: 25px;
      .title-normal-1 {
        color: #2c8249;
        padding: 0 5px;
        font-size: 14px;
        margin-top: 15px;
        text-align: left;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 5px 5px 0;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 2px 5px 5px;
      }
      .content-page-3 {
        line-height: 19px;
        padding: 4px 5px 0;
      }
    }
    .page5 {
      font-size: 14px;
      padding: 30px 20px;
      .title-normal-1 {
        color: hsl(140, 49%, 34%);
        font-size: 20px;
        line-height: 29px;
        margin-top: 3px;
        padding: 0 5px;
        text-align: left;
      }
      .divide-1 {
        width: 100px;
        height: 2px;
        background-color: #2c8249;
        margin: 13px 0 15px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 6px 5px 0;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 1px 5px 5px;
      }
    }
    .page6 {
      font-size: 14px;
      padding: 30px 20px;
      .content-page-1 {
        line-height: 19px;
        padding: 10px 5px 20px;
      }
      .content-page-2 {
        line-height: 19px;
        padding: 2px 5px 17px;
      }
      .content-page-3 {
        line-height: 19px;
        padding: 4px 5px 0;
      }
    }
    .page7 {
      font-size: 14px;
      padding: 20px 30px;
      .title-large-1 {
        color: hsl(140, 49%, 34%);
        font-size: 25px;
        margin-top: 3px;
        padding: 0 5px;
        text-align: left;
        line-height: 38px;
        margin-bottom: 11px;
      }
      .content-page-1 {
        line-height: 19px;
        padding: 8px 0;
      }
    }
    .page8 {
      padding: 15px 20px;
    }
  }
  .book_wrapper-mobile {
    display: none;
  }
  @media (max-width: 768px) {
    .book_wrapper {
      display: none;
    }

    .book_wrapper-mobile {
      display: block;
      .book-view {
        margin: 0 auto;
        padding-top: 15px;
        width: 570px;
        height: 590px;
        position: relative;
        background: transparent url(../images/golden-stage/bg.png) no-repeat left top;
        .milk-product {
          bottom: -40px;
          height: 120px;
          left: 115px;
          position: absolute;
          z-index: 99;
          &:before {
            display: none;
          }
        }
        .next_page_button, .prev_page_button {
          display: block;
          position: absolute;
          width: 35px;
          height: 31px;
          cursor: pointer;
          margin-top: -20px;
          bottom: 25px;
          z-index: 99;
        }
        .prev_page_button {
          left: 340px;
          background: transparent url(../images/golden-stage/prev.png) no-repeat;
        }
        .next_page_button {
          left: 390px;
          background: transparent url(../images/golden-stage/next.png);
        }
        #bookMobile {
          font-family: @import-font;
          font-weight: 300;
          div {
            width: 450px;
            height: 100%;
          }
          .content-page {
            padding: 9px 25px 15px;
          }
          .divide {
            width: 100px;
            height: 2px;
            background-color: #2c8249;
            margin: 15px auto;
          }
          .title-large {
            color: #2c8249;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
          }
          .title-normal {
            line-height: 30px;
            color: #2c8249;
            text-align: center;
            font-size: 20px;
          }
          .page1 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            img {
              width: 90%;
            }
          }
          .page2 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
          }
          .page3 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            img {
              left: 15px;
              margin-bottom: 10px;
              position: relative;
              width: 90%;
            }
          }
          .page4 {
            position: relative;
            display: block;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            h4 {
              color: #2c8249;
              padding: 0 5px;
              font-size: 14px;
              margin-top: 15px;
              text-align: left;
            }
            .content-page {
              padding: 0 5px;
            }
          }
          .page5 {
            position: relative;
            display: block;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            .title-normal {
              line-height: 30px;
              text-align: left;
              font-size: 20px;
            }
            .divide {
              margin: 15px 0;
            }
            .content-page {
              padding: 2px 0 15px;
            }
          }
          .page6 {
            position: relative;
            display: block;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            .content-page {
              padding: 5px 0 10px;
            }
          }
          .page7 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            .title-large {
              line-height: 35px;
              margin-bottom: 20px;
            }
            .content-page {
              line-height: 19px;
              padding: 10px 0;
            }
          }
          .page8 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
          }
          span.number-page {
            position: absolute;
            left: 365px;
            bottom: 35px;
            display: block;
            width: 30px;
            height: 30px;
            border: 2px solid #2c8249;
            .border-radius(50%);
            font-size: 20px;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            color: #2c8249;
          }
        }
      }
    }
  }
  @media (max-width: 360px) {
    .book_wrapper-mobile {
      display: block;
      .book-view {
        margin: 0 auto;
        padding-top: 15px;
        width: 903px;
        height: 590px;
        position: relative;
        background: transparent url(../images/golden-stage/bg.png) no-repeat left top;
        .next_page_button, .prev_page_button {
          display: block;
          position: absolute;
          width: 35px;
          height: 31px;
          cursor: pointer;
          margin-top: -20px;
          bottom: 25px;
          z-index: 99;
        }
        .prev_page_button {
          left: 260px;
          background: transparent url(../images/golden-stage/prev.png) no-repeat;
        }
        .next_page_button {
          left: 310px;
          background: transparent url(../images/golden-stage/next.png);
        }
        #bookMobile {
          font-family: @import-font;
          font-weight: 300;
          div {
            width: 360px;
            height: 100%;
          }
          .content-page {
            padding: 9px 25px 15px;
          }
          .divide {
            width: 100px;
            height: 2px;
            background-color: #2c8249;
            margin: 15px auto;
          }
          .title-large {
            color: #2c8249;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
          }
          .title-normal {
            line-height: 30px;
            color: #2c8249;
            text-align: center;
            font-size: 20px;
          }
          .page1 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            img {
              width: 90%;
            }
          }
          .page2 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
          }
          .page3 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            img {
              left: 15px;
              margin-bottom: 10px;
              position: relative;
              width: 90%;
            }
          }
          .page4 {
            position: relative;
            display: block;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            h4 {
              color: #2c8249;
              padding: 0 5px;
              font-size: 14px;
              margin-top: 15px;
              text-align: left;
            }
            .content-page {
              padding: 0 5px;
            }
          }
          .page5 {
            position: relative;
            display: block;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 5px 5px 30px 25px;
            width: 100%;
            .title-normal {
              line-height: 30px;
              text-align: left;
              font-size: 20px;
            }
            .divide {
              margin: 15px 0;
            }
            .content-page {
              padding: 2px 0 15px;
            }
          }
          .page6 {
            position: relative;
            display: block;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
            .content-page {
              padding: 5px 0 10px;
            }
          }
          .page7 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 25px 5px 30px 25px;
            width: 100%;
            .title-large {
              line-height: 30px;
              margin-bottom: 5px;
            }
            .content-page {
              line-height: 19px;
              padding: 10px 0;
            }
          }
          .page8 {
            position: relative;
            font-size: 13px;
            height: 555px;
            margin: 0 auto;
            padding: 35px 5px 30px 25px;
            width: 100%;
          }
          span.number-page {
            position: absolute;
            left: 287px;
            bottom: 35px;
            display: block;
            width: 30px;
            height: 30px;
            border: 2px solid #2c8249;
            .border-radius(50%);
            font-size: 20px;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            color: #2c8249;
          }
        }
      }
    }
  }
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}