.gs-slogan {
  display: inline-block;
  margin: 10px 0 0 20%;
  @media (max-width: 767px) {
    margin: 5px auto;
  }
}

#landing-landscape {
  position: relative;
  width: 100%;
  background: transparent url("../images/golden-stage/nature-bg.jpg") no-repeat;
  background-size: cover;
  &:before {
    background: url("../images/golden-stage/thick.png") no-repeat  center center / cover;
    height: 89px;
    left: 0;
    position: absolute;
    top: 20px;
    display: block;
    width: 100%;
    content: '';
    @media (max-width: 991px) {
      display: none;
    }
  }
  @media (min-width: 992px) {
    height: 450px;
    background-position: center center;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    height: 300px;
    background-position: 25% 75%;
  }
  @media (max-width: 767px) {
    height: 180px;
    background-position: center center;
    border-top: 3px solid #ebebeb ;
    border-bottom: 3px solid #ebebeb ;
  }
}

#background-wrapper {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/golden-stage/fruit-bg.png') no-repeat;
  background-size: cover;
  @media (min-width: 992px) {
    background-position: center center;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    background-position: left center;
  }
  @media (max-width: 767px) {
    background-position: 10% 15%;
  }
}

#landing-food {
  width: 100%;
  background-color: transparent;
  position: relative;
  .transition();
  @media (min-width: 992px) {
    min-height: 999px;
    padding: 100px 0;
  }
  @media (max-width: 991px) {
    height: auto;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 30px 0;
  }
  @media (max-width: 767px) {
    padding: 10px 0;
  }
  .gs-block {
    bottom: 0;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100%;
    @media (max-width: 991px) {
      display: none;
    }
    .gs-expert {
      position: absolute;
      right: 50px;
      bottom: 0;
      background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/expert.png") no-repeat scroll center top / 100% auto;
      &:after {
        content: '';
        position: absolute;
        left: -80px;
        top: 75px;
        background: transparent url("../images/golden-stage/expert-text.png") no-repeat scroll center center / 100% auto;
      }
      @media (min-width: 1200px) {
        width: 420px;
        height: 606px;
        &:after {
          width: 220px;
          height: 234px;
        }
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 378px;
        height: 545px;
        &:after {
          width: 198px;
          height: 210px;
        }
      }
      .btn-question {
        background: url("../images/golden-stage/question.png") no-repeat scroll center center / 100% auto;
        position: absolute;
        left: 50%;
        bottom: 15px;
        margin-left: -150px;
        @media (min-width: 1200px) {
          width: 376px;
          height: 99px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 338px;
          height: 89px;
        }
      }
    }
  }

  .gs-box {
    position: relative;
    width: 100%;
    .border-radius(8px);
    @media (min-width: 992px) {
      min-height: 880px;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 50px 0 20px;
    }
    @media (max-width: 991px) {
      padding: 30px 0;
    }
    .gs-child-tab {
      position: absolute;
      z-index: 1;
      border: 0 none;
      width: 100%;
      @media (min-width: 992px) {
        top: -485px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        top: -320px;
        left: 40px;
      }
      @media (max-width: 767px) {
        white-space: nowrap;
        top: -160px;
        left: 15px;
      }

      li {
        display: block;
        padding: 0;
        width: auto;
        height: auto;
        margin: 0;
        a {
          display: block;
          border: 0;
          padding: 0;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            background-color: hsla(0, 0%, 0%, 0.4);
            z-index: 1;
            .border-radius(2px);
            .transition();
          }
          @media (min-width: 1200px) {
            width: 309px;
            height: 374px;
            &:after {
              width: 292px;
              height: 361px;
              top: 5px;
              left: 4px;
            }
          }
          @media (min-width: 992px) and (max-width: 1199px) {
            width: 260px;
            height: 314px;
            &:after {
              width: 246px;
              height: 303px;
              top: 4px;
              left: 3px;
            }
          }
          @media (min-width: 768px) and (max-width: 991px) {
            width: 227px;
            height: 280px;
            &:after {
              width: 216px;
              height: 265px;
              top: 6px;
              left: 2px;
            }
          }
          @media (min-width: 400px) and (max-width: 767px) {
            width: 128px;
            height: 155px;
            &:after {
              width: 121px;
              height: 150px;
              top: 1px;
              left: 1px;
            }
          }
          @media (max-width: 399px) {
            width: 110px;
            height: 133px;
            &:after {
              width: 104px;
              height: 129px;
              top: 1px;
              left: 1px;
            }
          }
          .title-tab {
            font-family: @import-font;
            color: #07a94e;
            position: absolute;
            width: 100%;
            display: block;
            left: 0;
            text-align: center;
            @media (min-width: 992px) {
              font-size: 25px;
              bottom: 35px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: 25px;
              bottom: 20px;
            }
            @media (max-width: 767px) {
              font-size: 15px;
              bottom: 10px;
            }
          }
          &.one-year-old {
            z-index: 2;
            background: url("../images/golden-stage/1.png") no-repeat center / 100% auto;
            @media (min-width: 992px) {
              .rotate(8deg);
              top: -15px;
            }
            &:before {
              width: 43px;
              height: 128px;
              content: '';
              top: -83px;
              left: 50%;
              position: absolute;
              z-index: 5;
              margin-left: -21px;
              @media (min-width: 992px) {
                background: url("../images/golden-stage/k1.png") no-repeat center / 100% auto;
              }
            }
          }
          &.two-year-old {
            z-index: 3;
            background: url("../images/golden-stage/2.png") no-repeat center / 100% auto;
            @media (min-width: 992px) {
              left: 10px;
              top: -5px;
              .rotate(-15deg);
            }
            &:before {
              width: 41px;
              height: 109px;
              content: '';
              top: -75px;
              left: 50%;
              position: absolute;
              z-index: 5;
              margin-left: -20px;
              @media (min-width: 992px) {
                background: url("../images/golden-stage/k2.png") no-repeat center / 100% auto;
              }
            }
          }
          &.three-year-old {
            z-index: 4;
            background: url("../images/golden-stage/3.png") no-repeat center / 100% auto;
            @media (min-width: 992px) {
              top: -5px;
            }
            &:before {
              width: 29px;
              height: 127px;
              content: '';
              top: -83px;
              left: 50%;
              position: absolute;
              z-index: 5;
              margin-left: -15px;
              @media (min-width: 992px) {
                background: url("../images/golden-stage/k3.png") no-repeat center / 100% auto;
              }
            }
          }
        }
        &.active, &:hover {
          a {
            z-index: 5;
            .title-tab {
              color: #bf2a2e;
            }
            &:after {
              background-color: transparent;
            }
          }
        }
      }
    }
    .gs-tab {
      border: none;
      position: relative;
      z-index: 1;
      @media (min-width: 992px) {
        white-space: nowrap;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin-left: 29px;
      }
      > li {
        @media (min-width: 768px) and (max-width: 991px) {
          width: 214px;
          word-wrap: break-word;
          margin-right: 15px;
        }
        @media (max-width: 767px) {
          width: 33.33%;
          word-wrap: break-word;
        }
        &.active {
          > a {
            background-color: @landing-green;
          }
        }
        > a {
          background-color: #3ebb75;
          border: 3px solid #fff;
          border-bottom: none !important;
          color: #fff;
          font-family: @import-font;
          @media (min-width: 992px) {
            font-size: 20px;
            .border-radius-custom(8px, 8px, 0, 0);
            padding: 12px 30px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 25px;
            text-align: center;
            .border-radius(8px);
            padding: 10px 30px;
          }
          @media (max-width: 767px) {
            font-size: 15px;
            text-align: center;
            .border-radius(8px);
            padding: 10px;
          }
        }
      }
    }

    .gs-intro {
      display: block;
      font-size: 15px;
      @media (min-width: 768px) and (max-width: 991px){
        margin-left: 30px;
      }
    }

    .gs-content {
      position: relative;
      padding: 20px 0;
      z-index: 1;
      .tab-pane {
        @media (min-width: 992px) {
          width: 53%;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          width: 97%;
        }
      }
    }

    .gs-panel {
      background-color: transparent;
      border: none;
      box-shadow: none;
      .panel-heading {
        @media (min-width: 768px) {
          padding: 10px 0;
        }
        @media (max-width: 767px) {
          padding: 5px 0;
        }
      }
      .panel-title > a {
        color: @landing-green;
        font-family: @import-font;
        font-size: 24px;
        @media (min-width: 768px) {
          font-size: 24px;
        }
        @media (max-width: 767px) {
          font-size: 18px;
        }
        > i, > span {
          display: inline-block;
          vertical-align: middle;
        }
        > i {
          background: transparent no-repeat center center / 100% auto;
          background-image: url("../images/icons/arrow-down.png");
          @media (min-width: 768px) {
            width: 24px;
            height: 24px;
          }
          @media (max-width: 767px) {
            width: 18px;
            height: 18px;
          }
        }
        &.collapsed {
          > i {
            background-image: url("../images/icons/arrow-left.png");
          }
        }
      }
      .panel-body {
        font-size: 15px;
        border: none;
        text-align: justify;
        @media (min-width: 768px) {
          padding: 10px 0 10px 30px;
        }
        @media (max-width: 767px) {
          padding: 5px 0 5px 30px;
        }
      }
    }
  }
  ul {
    list-style: disc inside !important;
    margin-top: 10px;
  }
}

#landing-question {
  position: relative;
  display: none;

  background-color: #07a94e;
  overflow: hidden;
  @media (max-width: 991px) {
    display: block !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    min-height: 400px;
  }
  @media (max-width: 767px) {
    min-height: 215px;
  }

  .gs-expert {
    position: absolute;
    top: 20px;
    background: hsla(0, 0%, 0%, 0) url("../images/golden-stage/expert.png") no-repeat scroll center top / 100% auto;
    &:after {
      content: '';
      position: absolute;
      background: transparent url("../images/golden-stage/expert-message.png") no-repeat scroll center center / 100% auto;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      right: 30px;
      width: 290px;
      height: 400px;
      &:after {
        left: -60px;
        top: 40px;
        width: 150px;
        height: 160px;
      }
    }
    @media (max-width: 767px) {
      right: 15px;
      width: 157px;
      height: 226px;
      &:after {
        left: -30px;
        top: 26px;
        width: 81px;
        height: 86px;
      }
    }
  }
  .ask-question {
    background: url("../images/golden-stage/expert-ask.png") no-repeat scroll center center / 100% auto;
    position: absolute;
    bottom: 30%;
    @media (min-width: 768px) and (max-width: 991px) {
      left: 30px;
      width: 383px;
      height: 75px;
    }
    @media (max-width: 767px) {
      left: 15px;
      width: 206px;
      height: 41px;
    }
  }
  .btn-question {
    background: url("../images/golden-stage/ques.png") no-repeat scroll center center / 100% auto;
    position: absolute;
    bottom: 13%;
    @media (min-width: 768px) and (max-width: 991px) {
      left: 30px;
      width: 212px;
      height: 53px;
    }
    @media (max-width: 767px) {
      left: 15px;
      width: 114px;
      height: 28px;
    }
  }
}

#landing-event {
  position: relative;
  width: 100%;
  background: url('../images/golden-stage/prize-banner.png') no-repeat center center / cover;
  @media (min-width: 992px) {
    height: 720px;
  }
  @media (min-width: 481px) and (max-width: 991px) {
    height: 350px;
  }
  @media (max-width: 480px) {
    height: 190px;
  }
  .left-img {
    position: absolute;
    bottom: 0;
    left: 20px;
    background: url('../images/golden-stage/ms-expert.png') no-repeat center center / 100% auto;
    @media (min-width: 992px) {
      width: 400px;
      height: 470px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 336px;
      height: 396px;
    }
    @media (max-width: 767px) {
      width: 252px;
      height: 297px;
    }
  }
  .right-img {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../images/golden-stage/mom-and-kid.png') no-repeat center center / 100% auto;
    @media (min-width: 992px) {
      width: 380px;
      height: 380px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 767px) {
      width: 230px;
      height: 230px;
    }
  }
  .btn-join {
    position: absolute;
    top: 38%;
    left: 50%;
    margin-left: -110px;
    display: block;
    background-color: #bf2a2e;
    border: 2px solid #fff;
    .border-radius(12px);
    color: #fff;
    font-family: @import-font;
    font-size: 20px;
    line-height: 1.42857143;
    padding: 8px 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    .user-select();
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    &:hover {
      background-color: #db2b2f;
    }
  }
}

.landing-icon {
  display: inline-block;
  background: url('../images/golden-stage/landing-icon.png') no-repeat;
  margin: 0 auto;
  &.icon-1 {
    .icon-sprite(-7px, -7px, 109px, 115px);
  }
  &.icon-2 {
    .icon-sprite(-130px, -7px, 119px, 115px);
  }
  &.icon-3 {
    .icon-sprite(-263px, -7px, 104px, 115px);
  }
  &.icon-4 {
    .icon-sprite(-381px, -7px, 144px, 115px);
  }
  &.icon-5 {
    .icon-sprite(-539px, -7px, 137px, 115px);
  }
  &.icon-6 {
    .icon-sprite(-690px, -7px, 127px, 115px);
  }
}

#landing-message {
  position: relative;
  background-color: #fff;
  .btn-rule {
    display: block;
    background-color: #bf2a2e;
    border: 1px solid transparent;
    .border-radius(12px);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.42857143;
    margin: 20px auto;
    text-transform: uppercase;
    padding: 5px 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    .user-select();
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    &:hover {
      .opacity(0.8);
    }
  }
  .col {
    float: left;
    @media (min-width: 992px) {
      width: 33.33%;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .message-row {
    padding: 0 8.33%;
  }
  .gs-message {
    position: relative;
    width: 100%;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    > div {
      position:  absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      padding: 8%;
      &.message-1 {
        background-color: #009639;
      }
      &.message-2 {
        background-color: #07b248;
      }
      &.message-3 {
        background-color: #14c959;
      }
      &.message-4 {
        background-color: #eb0319;
      }
      &.message-5 {
        background-color: #d80418;
      }
      &.message-6 {
        background-color: #bf2a2e;
      }
      &.message-1, &.message-4 {
        p {
          margin: 25px 0 38px;
        }
      }
      &.message-2 {
        p {
          margin: 12px 0 26px;
        }
      }
      &.message-3, &.message-5, &.message-6 {
        p {
          margin: 0 0 12px;
        }
      }
    }
    p {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
    .btn-share {
      color: #fff;
      background-color: transparent;
      border: 2px solid #fff;
      .border-radius(8px);
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      .transition();
      &:hover {
        background-color: rgba(225,255,255,0.2);
      }
    }
  }
}

#page-banner {
  .nutrition-banner {
    position: relative;
    width: 100%;
    background: transparent url("../images/bannerdinhduong.jpg") no-repeat center center / cover;
    .transition(all, 0.3s, ease-out);
    @media (min-width: 992px) {
      height: 350px;
    }
    @media (min-width: 481px) and (max-width: 991px) {
      height: 250px;
    }
    @media (max-width: 480px) {
      height: 150px;
    }
  }
  .nutrition-text {
    background-color: @green;
    h1 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      padding: 14px 0;
    }
  }
}

#slow-weight-gain-page {
  padding: 30px 0;
  .page-title {
    position: relative;
    width: 100%;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid @green;
    }
    > h2 {
      display: inline-block;
      background-color: @green;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 8px 16px;
      @media (max-width: 480px) {
        width: 100%;
        text-align: center;
      }
    }
  }

  .expression-item {
    .expression-box {
      position: relative;
      width: 100%;
      overflow: hidden;
      &:hover {
        &:after {
          -webkit-animation: shine .75s;
          animation: shine .75s;
        }
      }
      &:before {
        content: "";
        display: block;
        padding-top: 70%;
      }
      &:after {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
      }
      &:hover {
        .expression-image {
          .opacity(0.8);
        }
      }
      .expression-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        background: transparent no-repeat scroll center center / cover;
        .opacity(1);
        .transition(all, 0.3s, ease-in-out);
      }
    }
    .expression-text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 6px 12px;
      z-index: 10;
      > h3 {
        width: 60%;
        height: 48px;
        color: #fff;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        overflow: hidden;
      }
    }
    .expression-time {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #fff;
      font-size: 11px;
      z-index: 11;
    }
  }

  //.slide-control {
  //  position: relative;
  //  &:after {
  //    content: '';
  //    position: absolute;
  //    left: 0;
  //    right: 0;
  //    bottom: -5px;
  //    width: 100%;
  //    border-bottom: 1px solid #959595;
  //  }
  //  .slide-prev, .slide-next {
  //    display: inline-block;
  //    width: 30px;
  //    height: 26px;
  //    background-color: @green;
  //    text-align: center;
  //    cursor: pointer;
  //    > i {
  //      color: #fff;
  //      font-size: 15px;
  //      line-height: 26px;
  //    }
  //    &:hover {
  //      .opacity(0.8);
  //    }
  //  }
  //}

  .swg-feature {
    .swg-tab {
      border: none;
      > li {
        margin-right: 20px;
        &:first-child {
          margin-left: 40px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          margin-right: 5px !important;
          &:first-child {
            margin-left: 18px !important;
          }
        }
        &.active {
          > a {
            background-color: #f9f9f9;
            border: 1px solid #d6d6d6;
            color: @green;
          }
        }
        > a {
          background-color: @green;
          border: 1px solid #31804f;
          color: #fff;
          border-bottom: none !important;
          .border-radius-custom(8px, 8px, 0, 0);

          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          padding: 12px 30px;
        }
      }
    }

    .swg-tab-mobile {
      > li {
        > a {
          display: block;
          width: 100%;
          background-color: #959595;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 2px;
          padding: 5px 12px;
        }
        &.active, &:hover {
          > a {
            background-color: @green;
          }
        }
      }
    }

    .swg-content {
      background-color: #f9f9f9;
      border: 1px solid #d6d6d6;
      .border-radius(8px);
      padding: 20px 0;
      .box-shadow(3px, 5px, 3px, 0.1);
      &:before, &:after {
        display: table;
        content: " ";
      }
      &:after {
        clear: both;
      }
      @media (min-width: 768px) and (max-width: 992px) {
        .tab-pane > div {
          padding: 0 10px;
        }
      }
      @media (max-width: 767px) {
        background-color: transparent !important;
        border: none !important;
        .border-radius(0) !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin-top: 15px;
        .tab-pane > div {
          padding: 0;
        }
      }
    }

    .swg-item {
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
      .swg-box {
        position: relative;
        width: 100%;
        overflow: hidden;
        &:before {
          content: "";
          display: block;
          padding-top: 60%;
        }
        &:hover {
          .swg-image {
            .transform(scale(1.25, 1.25));
          }
        }
        .swg-image {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          background: transparent no-repeat scroll center center / cover;

          -webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
          -moz-transition: -moz-transform .6s cubic-bezier(.19, 1, .22, 1);
          -o-transition: -o-transform .6s cubic-bezier(.19, 1, .22, 1);
          transition: transform .6s cubic-bezier(.19, 1, .22, 1);
        }
      }
      .swg-text {
        background-color: #fff;
        border: 1px solid #ececec;
        border-top: none;
        .box-sizing();
        padding: 10px;
        .swg-time {
          color: #424242;
          font-weight: 500;
        }
        .swg-title {
          height: 48px;
          color: @text-color;
          font-size: 15px;
          line-height: 24px;
          font-weight: 500;
          text-transform: uppercase;
          overflow: hidden;
        }
        .swg-read-more {
          color: @green;
          font-style: italic;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .swg-tab {
      display: block;
    }

    .swg-tab-mobile {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .swg-tab {
      display: none;
    }

    .swg-tab-mobile {
      display: block;
    }
  }

  .swg-pagination {
    text-align: right;
    .pagination {
      margin: 0;
      > li {
        display: inline-block;
        &:first-child, &:last-child {
          > a {
            .border-radius(0px);
          }
        }
        > a {
          color: #fff;
          background-color: @green;
          border: 1px solid @green;
          font-weight: 600;
          padding: 2px 12px;
        }
        &.active > a, a:focus, a:hover {
          background-color: #939393;
          border-color: #939393;
          font-weight: 500;
        }
      }
    }
  }

  .outstanding-post {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    &:hover {
      .outstanding-post-image {
        .opacity(0.8);
      }
    }
    .outstanding-post-image {
      width: 100%;
      height: 400px;
      background: transparent no-repeat scroll center center / cover;
      border: 1px solid #e7e7e7;
      .box-sizing();
      .opacity(1);
      .transition(all, 0.3s, ease-in-out);
      @media (min-width: 768px) and (max-width: 991px) {
        height: 300px !important;
      }
      @media (max-width: 767px) {
        height: 200px !important;
      }
    }
    .outstanding-post-text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px 12px;
      z-index: 10;
      @media (max-width: 480px) {
        padding: 14px 12px !important;
      }
      h2 {
        max-width: 100%;
        color: #fff;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (min-width: 1200px) {
          width: 450px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 350px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          width: 600px;
        }
        @media (max-width: 767px) {
          width: 220px;
        }
      }
    }
    .outstanding-post-time {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #fff;
      font-weight: 500;
      z-index: 11;
    }
  }

  .nutrition-post .post-item {
    padding-right: 15px;
    .post-image {
      border: none;
    }
  }

  .post-item {
    margin: 0 0 20px;
    &:hover {
      .post-image {
        .opacity(1);
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
      }
    }
    .media-left {
      width: 230px;
    }
    .post-title {
      max-width: 100%;
      width: 320px;
      color: @text-color;
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (min-width: 1200px) {
        width: 320px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 200px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 380px;
      }
      @media (max-width: 767px) {
        width: 180px;
      }
    }
    .post-image {
      width: 100%;
      height: 120px;
      background: transparent no-repeat scroll center center / cover;
      border: 5px solid #fff;
      .box-sizing();
      @media (max-width: 767px) {
        border: none !important;
      }
    }
    .post-time {
      color: #424242;
      font-weight: 500;
    }
    .post-description {
      height: 40px;
      line-height: 20px;
      color: #747474;
      overflow: hidden;
      margin: 8px 0;
    }
    .post-read-more {
      color: @green;
      font-style: italic;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    @media (max-width: 500px) {
      .post-image {
        width: 140px;
        height: 120px;
      }
    }
  }

  .divider {
    width: 100%;
    border-bottom: 1px solid transparent;
    &.light {
      border-bottom-color: #e1e1e1;
      margin: 20px 0;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &.dark {
      border-bottom-color: #959595;
      margin: 5px 0;
    }
  }
}

.white-bg {
  background-color: #fff;
}

.nutifood-label {
  position: relative;
  display: block;
  width: 100%;
  //background-color: #fff;
  clear: both;
  padding-bottom: 40px;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 24px;
    background: url("../images/nuti-bg.png") no-repeat center center;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: .6;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .6;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* Modal */
#viewRules {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 800px;
    }
  }
  .modal-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 39px;
    background: transparent url("../images/golden-stage/close-button.png") no-repeat center center;
    border: none;
    z-index: 10;
  }
  .modal-content {
    .border-radius(0);
    border: 10px solid @green;
    padding: 30px 20px 20px;
  }
  .dialog-title {
    color: @green;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  .dialog-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
  p {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
  }
  .bold-italic {
    display: block;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin: 5px 0;
  }
  ul {
    &.disc {
      list-style: disc inside !important;
      margin-bottom: 10px;
    }
    li {
      font-size: 15px;
    }
  }
  table {
    thead > tr > th, tbody > tr > td {
      font-size: 15px;
    }
  }
}

#viewAndShare {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 800px;
    }
  }
  .modal-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 39px;
    background: transparent url("../images/golden-stage/close-button.png") no-repeat center center;
    border: none;
    z-index: 10;
  }
  .modal-content {
    .border-radius(0);
  }
  .dialog-header {
    position: relative;
    width: 100%;
    min-height: 370px;
    background: url("../images/golden-stage/cartoon-bg.png") repeat center top / 100% auto;
    padding: 20px;
    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: -40px;
      left: 0;
      width: 100%;
      height: 135px;
      background: url("../images/golden-stage/wave.png") repeat center top / 100% auto;
    }
  }
  .dialog-logo {
    width: 121px;
    height: 28px;
    background: transparent url("../images/golden-stage/nuti-white-desktop.png") no-repeat center center;
  }
  .dialog-expert {
    position: absolute;
    bottom: 0;
    left: 20px;
    background: url('../images/golden-stage/ms-expert-dialog.png') no-repeat center center / 100% auto;
    @media (min-width: 992px) {
      width: 220px;
      height: 289px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 220px;
      height: 260px;
    }
    @media (max-width: 767px) {
      width: 220px;
      height: 260px;
    }
  }
  .golden-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 70px;
    height: 80px;
    background: transparent url("../images/golden-stage/golden-logo.png") no-repeat center center;
    z-index: 1;
  }
  .header-heading {
    margin-top: 7%;
    margin-left: 38%;
  }
  .header-text {
    color: #fff;
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 39%;
    width: 52%;
  }
  .dialog-body {
    margin-top: 10px;
    padding: 30px;
  }
  .body-heading {
    color: @green;
    font-family: @import-font;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .dialog-form {
    width: 100%;
    &:before, &:after {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
    .form-group {
      float: left;
      @media (min-width: 768px) {
        width: 33.33%;
        &:first-child, &:nth-child(3n + 1) {
          padding-right: 14px;
        }
        &:nth-child(2), &:nth-child(3n + 2) {
          padding-left: 7px;
          padding-right: 7px;
        }
        &:nth-child(3n){
          padding-left: 14px;
        }
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      .form-control {
        width: 100%;
        font-size: 15px;
      }
      label {
        font-weight: 500;
        line-height: 24px;
        font-size: 15px;
      }
    }
  }
  .btn-submit {
    background-color: @green;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px 34px;
    margin-top: 15px;
    &:hover {
      .opacity(0.8);
    }
  }
}