@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic&subset=latin,vietnamese);
@base-font: 'Roboto', sans-serif;
@import-font: 'Nabila', sans-serif;
@main-color: #8b9aa7;
@text-color: #828282;
@bg-color: #fff;

@green: #009639;
@landing-green: #07a94e;